################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SupercellProxy/bin/Debug
/.vs/SupercellProxy/v14
/SupercellProxy/obj/Debug
