<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- Choose the host you want to intercept data from -->
    <!-- Let's say you want to intercept Clash of Clans packets with an Android device, insert "gamea.clashofclans.com" -->
    <!-- 
            Game       |       iOS Host          |      Android Host       |           Stage Host           |            Integration Host          |         External Integration Host        |
        ============== | ======================= | ======================= | ============================== | ==================================== | ======================================== |
        Clash of Clans | game.clashofclans.com   | gamea.clashofclans.com  |     stage.clashofclans.com     |                                      |                                          |
        Clash Royale   | game.clashroyaleapp.com | game.clashroyaleapp.com | stage.scroll.supercelltest.com | integration.scroll.supercelltest.com | integration-ext.scroll.supercelltest.com |
        Boom Beach     | game.boombeachgame.com  | game.boombeachgame.com  |                                |                                      |                                          |
        Hay Day        |                         |                         |                                |                                      |                                          |
    -->
    <add key="Host" value="game.clashroyaleapp.com" />
    
    <!-- Choose the log level you prefer -->
    <!-- silent = Logging is disabled, nothing will be displayed at all -->
    <!-- default = Logging is enabled, information will be saved to logfiles -->
    <add key="LogLevel" value="default" />
    
    <!-- Choose a port for the WebAPI -->
    <!-- Select a port > than 1024 to avoid exceptions -->
    <add key="WebAPI_PORT" value="5050" />
  </appSettings>
</configuration>